html {
    scroll-behavior: smooth;
}

.w-0 {
    width: 0 !important;
}

.w-70 {
    width: 70% !important;
}

.logoSize {
    width: calc(35px + 2.6vw) !important;
}

.w-85 {
    width: 85% !important;
}

.w-90 {
    width: 90% !important;
}

.backGroundColorMilky {
    background-color: whitesmoke !important;
}

.list-group-circle {
    list-style-type: disc !important;
}

.text-justify {
    text-align: justify !important;
}

.designButton {
    border: 1.5px solid rgb(53, 167, 228) !important;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: rgb(53, 167, 228) !important;
}

.designButton:hover .designButtonChevron {
    margin-left: 10px !important;
}

.zoomhover:hover {
    -moz-transform: scale(1.06);
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
}

.backDropFilterImg {
    -moz-backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.designButton:hover {
    color: rgba(194, 98, 0, 1) !important;
    border-radius: 0;
    border-color: rgba(194, 98, 0, 1) !important;
}

.fsSerif {
    font-family: 'Cinzel', serif !important;
}

.hoverMotherArrowDown:hover .hoverArrowDown {
    margin-bottom: -10px !important;
}

.h-7 {
    height: 7% !important;
}

.h-93 {
    height: 93% !important;
}

.textShadow {
    text-shadow: 1.5px 1.5px gray !important;
}

.fsHeader {
    font-size: calc(17px + 0.4vw) !important;
}

.h-0 {
    height: 0 !important;
}

.height-100 {
    height: 100vh !important;
}

.pointer {
    cursor: pointer !important;
}

.fsPartOne {
    font-size: calc(55px + 2.5vw) !important;
}

.specialcolorGreen {
    color: rgba(0, 60, 0, 1) !important;
}

/* orange #D7B377 */

/* Blue #8AA29E  */

.specialBackGroundColorBlue {
    background-color: rgba(138, 162, 158, 1) !important;
}

.NavBackGroundColorBlue {
    background-color: rgba(138, 162, 158, 0.7) !important;
}

/* part three: 4cards
part 4: experience
part five: package
part six : slider 
amelia 
part seven : FQS 
part 8 : forum -> name. last name. email. number . request day . textbox 
part 9: contact us -> number email
footer */

.fsHandWriting {
    font-family: 'Clicker Script', cursive;
}

.generalTransition {
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
}

.longTransition {
    -moz-transition: all 500ms ease 0s;
    -webkit-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
}

.specialColorOrange:hover {
    color: #D7B377 !important;
}

/* Navigation */
.designMenu{
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
}
/* part one */
.partoneBackGround {
    background-image: url("../images/mainBackGround.jpg");
    background-position: center;
    background-size: cover;
}

.btmBorderHoverOrange:hover {
    color: rgb(88, 118, 115) !important;
}

.backGroundColorOrange{
    background-color: #D7B377 !important;
}

.generalffsanserif {
    font-family: 'Roboto', sans-serif !important;
}

.navigationff {
    font-family: 'Montserrat Alternates', sans-serif;
}

.btmBorderHoverOrange::before {
    content: "";
    display: block;
    width: 100%;
    height: 1.5px;
    border-radius: 5px;
    background-color: rgb(88, 118, 115) !important;
    position: absolute;
    z-index: 1;
    top: 100%;
    bottom: 0%;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
    -moz-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: left;
}

.designSubMenuA {
    font-size: x-large;
}

.submenuColorA {
    color: #D7B377 !important;
}

.MenudesignHover:hover {
    background-color: rgba(48, 48, 48, 1) !important;
    color: rgba(110, 142, 139, 1) !important;
}

.btmBorderHoverOrange:hover::before {
    -moz-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Part Three */
.partThreeBackGround {
    background-image: url(../images/partThree.gif);
    background-position: center;
    background-size: cover;
}

/* Part Four */
.partFourBackGround {
    background-image: url(../images/part3BackGround.jpg);
    background-position: center;
    background-size: cover;
}

/* xsm & sm & md */
@media all and (max-width:767.5px) {

    /* Navigation */
    .menu-size {
        font-size: calc(17px + 2.5vw) !important;
    }

    .navsizexs {
        width: 100% !important;
    }

    .menu-design {
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .submenuHeight100 {
        height: 75vh !important;
    }

    .navPositionsm {
        position: fixed;
        z-index: 1 !important;
    }

    .subMenuPositionsm {
        position: fixed !important;
        z-index: 2 !important;
    }

    .closeSubMenu {
        right: -100% !important;
    }

    .openSubMenu {
        right: 0 !important;
    }

    .px-sm{
        padding-left: 45px;
    }

    .wmenuxs {
        width: 75%;
    }

}

@media all and (min-width:768px) {
    .position-md-fixed {
        position: fixed !important;
        z-index: 1 !important;
    }

    .wmenulg {
        width: 15%;
    }

    .subMenumd {
        width: calc(150px + 2vw) !important;
        -moz-transform-origin: top;
        -webkit-transform-origin: top;
        transform-origin: top;
        -moz-transform: scaleY(0);
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }

    .retreatTop{
        top: 135%;
    }

    .therapiesTop{
        top: 177%;
    }

    .heightMenumdRetreat{
        -moz-transform: scaleY(1) !important;
        -webkit-transform: scaleY(1) !important;
        transform: scaleY(1) !important;
    }

}