.w-12{
    width: 12.5% !important;
}

.h-0{
    height: 0 !important;
}

.height-100{
    height: 100vh !important;
}
.pointer{
    cursor:pointer  !important;
}
.specialBackGroundColorBlue{
    background-color: rgba(0,103,160,1) !important;
}

.generalTransition{
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
}

.longTransition{
    -moz-transition: all 500ms ease 0s;
    -webkit-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;   
}

.specialColorOrange:hover{
    color: rgba(194,98,0,1) !important;
}

/* part one */
.partoneBackGround{
    background-image: url("../images/mainBackGround.jpg");
    background-position: center;
    background-size: cover;
}
/* rgba(0,98,0,0.53) Green */

.btmBorderHoverOrange:hover{
    color: rgba(194,98,0,1) !important;
}

.btmBorderHoverOrange::before{
    content: "";
    display: block;
    width: 100%;
    height: 1.5px;
    border-radius: 5px;
    background-color: rgba(194,98,0,1) !important;
    position: absolute;
    z-index: 1;
    top: 100%;
    bottom: 0%;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
    -moz-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: left;
}

.btmBorderHoverOrange:hover::before{
    -moz-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


/* xsm & sm & md */
@media all and (max-width:767.5px){
    .menu-size{
        font-size: calc(17px + 2.5vw) !important;
    }
    .menu-design{
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .submenuHeight100{
        height: 50vh !important;
    }
}